@font-face {
    font-family: 'Hanifah-Salamah';
    src: url('https://hiromiakita.github.io/wedding/assets/fonts/HanifahSalamah.woff') format('woff'), url('https://hiromiakita.github.io/wedding/assets/fonts/HanifahSalamah.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.weeding-navbar {
    background-color: white !important;
}

.nav-link-custom,
.custom-color {
    color: #EBA696 !important;
}

.custom-font {
    font-family: 'Hanifah-Salamah', sans-serif !important;
    vertical-align: middle !important;
}

.custom-size1 {
    font-size: 3rem !important;
}

.custom-size3 {
    font-size: 3rem !important;
}

.custom-size4 {
    font-size: 4rem !important;
}

.custom-size5 {
    font-size: 5rem !important;
}


.custom-size6 {
    font-size: 6rem !important;
}

.custom-background {
    background-color: #EBA696 !important;
}

.custom-margin05 {
    margin-left: .5rem !important;
}

.custom-margin-bottom-1 {
    margin-bottom: 1rem !important;
}

.custom-margin-right-1 {
    margin-right: 1rem !important;
}

.custom-margin-top-5 {
    margin-top: 5rem !important;
}

.elementor-background-overlay {
    background-image: url("../assets/imgs/reviews-fondo.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-icon i {
    background-color: #EBA696 !important;
}

.img:before {
    background-color: #EBA696 !important;
}

.custom-footer {
    background-color: white !important;
}

.test {
    background: #EBA696 !important;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .whatsapp-float i {
    margin-top: 15px;
  }

  .instagram-widget {
    max-width: 100%;
    margin: 40px auto;
    text-align: center;
  }

  .no-background {
background: none !important;
  }

  .white-color {
    color: white !important;
    font-weight: 800;
  }

  .custom-widget {
    padding: 20rem !important;

}

.review-item{
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.white-color-review {
    color: white !important;
}
.custom-display-inline {
    display: inline !important;
}

.custom-description {
    margin: 0 !important;
}

.video-container-text {
    text-align: center;
    margin: 2rem;
}

.nav-button span {
    background-color: #EBA696  !important;
}

.button-translation-container {
    display: flex;
    justify-content: end;
}

.custom-line-height {
  line-height:0 !important
}