.elementor-10 .elementor-element.elementor-element-35e8adef>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-35e8adef>.elementor-element-populated {
    padding: 0px 0px 0px 0px
}

.elementor-10 .elementor-element.elementor-element-37312ed:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-37312ed>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #748173
}

.elementor-10 .elementor-element.elementor-element-37312ed {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 120px 0px
}

.elementor-10 .elementor-element.elementor-element-37312ed>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-10 .elementor-element.elementor-element-0432631>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-c9bd4a0>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-2d77dba>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-aa595aa>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-93b560c>.elementor-widget-container {
    margin: 10px 0px 0px 0px
}

.elementor-10 .elementor-element.elementor-element-ad89afe {
    padding: 120px 0px 120px 0px
}

.elementor-10 .elementor-element.elementor-element-6f7a72a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-4f78ef0 {
    padding: 0px 0px 10px 0px
}

.elementor-10 .elementor-element.elementor-element-78d1c4e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-7e338b8>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-8aed24f>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-4a2b21a:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-4a2b21a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../assets/imgs/reviews-fondo.png");
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-10 .elementor-element.elementor-element-4a2b21a>.elementor-background-overlay {
    background-color: #000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-10 .elementor-element.elementor-element-4a2b21a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 0px 0px
}

.elementor-10 .elementor-element.elementor-element-3f2f44d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-f95ede0>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-4c765ec>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-bdbc261>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-748f147 {
    padding: 120px 0px 120px 0px
}

.elementor-10 .elementor-element.elementor-element-7032545>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-4d71c92>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-bf76e28>.elementor-widget-container {
    margin: 0px 0px 30px 0px
}

.elementor-10 .elementor-element.elementor-element-d9d25c7>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-2bc9784:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-2bc9784>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #748173
}

.elementor-10 .elementor-element.elementor-element-2bc9784 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 120px 0px
}

.elementor-10 .elementor-element.elementor-element-2bc9784>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-10 .elementor-element.elementor-element-d5b7486>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-395d077>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-5736524>.elementor-widget-container {
    margin: 10px 0px 0px 0px
}

.elementor-10 .elementor-element.elementor-element-a9ac311>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-90f0b48>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-846b844 {
    padding: 120px 0px 120px 0px
}

.elementor-10 .elementor-element.elementor-element-5760e63>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-b1a832c {
    padding: 0px 0px 10px 0px
}

.elementor-10 .elementor-element.elementor-element-3588bda>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-743a71c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-2d5042e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-c68d4d3:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-c68d4d3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../assets/imgs/proveedores.png");
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-10 .elementor-element.elementor-element-c68d4d3>.elementor-background-overlay {
    background-color: #000;
    opacity: 0.4;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-10 .elementor-element.elementor-element-c68d4d3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 120px 0px
}

.elementor-10 .elementor-element.elementor-element-2532c65>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-c4dbb26>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-3a479ea .video-wrapper .vid .vid-butn .icon {
    color: #fff
}

.elementor-10 .elementor-element.elementor-element-7d6f875 {
    padding: 120px 0px 120px 0px
}

.elementor-10 .elementor-element.elementor-element-78e54f4>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-215c8a4 {
    padding: 0px 0px 10px 0px
}

.elementor-10 .elementor-element.elementor-element-a95ebfe>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-d91b3bf>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-aa6083e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-3e96ded:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-3e96ded>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #748173
}

.elementor-10 .elementor-element.elementor-element-3e96ded {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 120px 0px 120px 0px
}

.elementor-10 .elementor-element.elementor-element-3e96ded>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-10 .elementor-element.elementor-element-9200803>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-ddacbee {
    padding: 0px 0px 10px 0px
}

.elementor-10 .elementor-element.elementor-element-f778e17>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-c8efc7e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-39c611d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-c56ccc2>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-17f97b9>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-17f97b9>.elementor-element-populated {
    padding: 120px 90px 60px 90px
}

.elementor-10 .elementor-element.elementor-element-9d1783b:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-9d1783b>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #748173
}

.elementor-10 .elementor-element.elementor-element-9d1783b {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s
}

.elementor-10 .elementor-element.elementor-element-9d1783b>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-10 .elementor-element.elementor-element-bac4f9a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

.elementor-10 .elementor-element.elementor-element-11aee97>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px
}

@media(max-width: 1024px) {
    .elementor-10 .elementor-element.elementor-element-17f97b9>.elementor-element-populated {
        padding:30px 20px 30px 20px
    }
}

@media(min-width: 768px) {
    .elementor-10 .elementor-element.elementor-element-c9bd4a0 {
        width:41.609%
    }

    .elementor-10 .elementor-element.elementor-element-2d77dba {
        width: 8.328%
    }

    .elementor-10 .elementor-element.elementor-element-aa595aa {
        width: 49.698%
    }

    .elementor-10 .elementor-element.elementor-element-78d1c4e {
        width: 41.666667%
    }

    .elementor-10 .elementor-element.elementor-element-7e338b8 {
        width: 58.333%
    }

    .elementor-10 .elementor-element.elementor-element-f95ede0 {
        width: 16.591%
    }

    .elementor-10 .elementor-element.elementor-element-4c765ec {
        width: 66.577%
    }

    .elementor-10 .elementor-element.elementor-element-bdbc261 {
        width: 16.135%
    }

    .elementor-10 .elementor-element.elementor-element-4d71c92 {
        width: 49.885%
    }

    .elementor-10 .elementor-element.elementor-element-e32f025 {
        width: 7.952%
    }

    .elementor-10 .elementor-element.elementor-element-d9d25c7 {
        width: 41.798%
    }

    .elementor-10 .elementor-element.elementor-element-395d077 {
        width: 41.609%
    }

    .elementor-10 .elementor-element.elementor-element-a9ac311 {
        width: 8.296%
    }

    .elementor-10 .elementor-element.elementor-element-90f0b48 {
        width: 49.698%
    }

    .elementor-10 .elementor-element.elementor-element-3588bda {
        width: 41.666667%
    }

    .elementor-10 .elementor-element.elementor-element-743a71c {
        width: 58.333%
    }

    .elementor-10 .elementor-element.elementor-element-a95ebfe {
        width: 41.666667%
    }

    .elementor-10 .elementor-element.elementor-element-d91b3bf {
        width: 58.333%
    }

    .elementor-10 .elementor-element.elementor-element-f778e17 {
        width: 41.666667%
    }

    .elementor-10 .elementor-element.elementor-element-c8efc7e {
        width: 58.333%
    }
}

@media(min-width: 1025px) {
    .elementor-10 .elementor-element.elementor-element-4a2b21a:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-4a2b21a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment:fixed
    }

    .elementor-10 .elementor-element.elementor-element-c68d4d3:not(.elementor-motion-effects-element-type-background), .elementor-10 .elementor-element.elementor-element-c68d4d3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-attachment: fixed
    }
}
